<div th:fragment="menu-principal">

	<div id="sidebar" class="active">
		<div class="sidebar-wrapper active">
			<div class="text-center">
				<a href="index.html"><img
					src="/assets/images/logo/logo-design2.png" width="200" alt="Logo"
					srcset=""></a>

			</div>

			<div class="sidebar-menu">
				<ul class="menu">
					<li class="sidebar-title">Menu</li>

					<li class="sidebar-item active ">
						<a href="/" class='sidebar-link'> <i class="bi bi-grid-fill"></i> 
							<span>Dashboard</span>
						</a>
					</li>

					<li class="sidebar-item  has-sub">
						<a href="#" class='sidebar-link'> <i class="bi bi-stack"></i> 
							<span>Cadastros</span>
						</a>
						<ul class="submenu ">
							<li class="submenu-item ">
								<a href="/registrar-imovel">Registrar Imóvel</a>
							</li>
							<li class="submenu-item ">
								<a href="/registrar/tipo-imovel/criar">Registrar Tipos de Imoveis</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<button class="sidebar-toggler btn x">
				<i data-feather="x"></i>
			</button>
		</div>
	</div>
</div>