<div th:fragment="cadastrar-novo-tipo">
    <div class="card-content">
        <div class="card-body">
            <form th:action="@{/registrar/situacao-imovel/criar}" th:object="${situacaoImovelDto}" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleInputNmTipoImovel">Nome da Situacao</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="exampleInputNmTipoImovel" th:field="*{nmSituacaoImovel}" placeholder="Disponivel Para Venda">
                                    <div class="form-control-icon">
                                        <i class="bi bi-file-earmark-post"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleInputTxDescricao">Descrição da situacao</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="exampleInputTxDescricao" th:field="*{txDescricaoSituacao}" placeholder="Descrição">
                                    <div class="form-control-icon">
                                        <i class="bi bi-file-earmark-medical-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1">Registrar</button>
                            <a href="/" class="btn btn-light-secondary me-1 mb-1">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
