<div th:fragment="cadastrar-novo-tipo">
    <div class="card-content">
        <div class="card-body">
            <form th:action="@{/registrar/tipo-imovel/criar}" th:object="${tipoImovel}" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleInputNmTipoImovel">Título de Imóvel</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="exampleInputNmTipoImovel" th:field="*{nmTipoImovel}" placeholder="Apartamento Duplex">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleInputTxDescricao">Detalhamento do tipo</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="exampleInputTxDescricao" th:field="*{txDescricao}" placeholder="Descrição">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1">Registrar</button>
                            <a href="/" class="btn btn-light-secondary me-1 mb-1">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
