<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="~{fragmentos/head}"></div>

</head>

<body>
	<div id="app">
		<!-- Menu Principal -->
		<div th:replace="~{fragmentos/menu-principal}"></div>

		<div id="main">
			<header class="mb-3">
				<a href="#" class="burger-btn d-block d-xl-none"> <i
					class="bi bi-justify fs-3"></i>
				</a>
			</header>
			<div th:replace="~{tipoImovel/lista-tipos-imoveis}"></div>
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Cadastrar tipo de Imóvel</h4>
				</div>
				<div th:replace="~{tipoImovel/cadastrar-novo-tipo}"></div>

			</div>

			<!-- rodapé -->
			<div th:replace="~{fragmentos/rodape}"></div>
		</div>

		<script
			src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="/assets/js/bootstrap.bundle.min.js"></script>

		<script src="/assets/vendors/apexcharts/apexcharts.js"></script>
		<script src="/assets/js/pages/dashboard.js"></script>

		<script src="/assets/js/main.js"></script>
</body>

</html>