<div th:fragment="cadastrar-nova-finalidade">
    <div class="card-content">
        <div class="card-body">
            <form th:action="@{/registrar/finalidade-imovel/criar}" th:object="${finalidadeImovelDto}" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleInputNmTipoImovel">Título de Finalidade</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="exampleInputNmFinalidadeImovel" th:field="*{nmFinalidadeImovel}" placeholder="Residencial">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1">Registrar</button>
                            <a href="/" class="btn btn-light-secondary me-1 mb-1">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
